<ion-content> 
  <img class ="logo" src="assets/icon/LogoDuoc.png">
  <div class="background-container">
      <ion-card class="login-card">
        <ion-title class="titleduoc ion-text-center">
          Sistema de Asistencia DuocUC
        </ion-title>
      </ion-card>
  </div>
  
  <div class="background-container">
    <div class="ion-padding-vertical">
    <ion-card-title class="ion-text-center">
      <ion-label>
        <ion-title class="ion-text-center black">¡Correcto!</ion-title>
        <ion-title class="ion-text-center black">Tu contraseña es: {{ usuario.password }}</ion-title>
      </ion-label>
    </ion-card-title>
  </div>
</div>
<div class="ion-text-center ion-margin-top">
  <img src="assets/icon/happy.jpg" class="logoIncorrecto">
</div>
</ion-content>
<ion-footer>
  <ion-toolbar style="--ion-background-color: #000000;">
    <ion-buttons slot="start">
      <ion-button class="boton-volver">
        <a name="exit"(click)="irPaginaIngreso()"> Volver a Iniciar Sesión </a>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>

